.main{
    background-color: rgb(193, 117, 17);
    display: flex;
}


.side{
    width: 25vw;
    background-color: rgb(0, 191, 255);
    height: 100vh;
    color: white;
    fill: white;
    
    .logo{
        display: flex;
        align-items: center;

        
       & i{
            font-weight: 600;
            font-size: 20px;
        }
    }


}

.logo-im{
    height: 4vh;
    width: 4vw;
    margin: 1rem;
}


.menu{
    margin-bottom: 10vh;
}

.cont{
    display:  flex;
    align-items: center;
    font-weight: 400;
    
}

.side-im{
    height: 2.5vh;
    width: 2.5vw;
    margin: 1rem;
    
}

.content{
    background-color: antiquewhite;
    width: 75vw;
    display: flex;
    flex-direction: column;

   
}

.header{
    background-color: whitesmoke;
    height: 20vh;

    .top{
        display: grid;
        grid-template-columns: 50vw 25vw;
        margin-top: 2vh;

        .left{
            display: flex;
            align-items: center;
            .search{
                border-radius: 10px;
                background-color: rgb(212, 231, 239);
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                width: 40vw;
                height: 3vh;
            }
        }


        .right{
            display: flex;
            align-items: center;

            & #username{
                font-weight: 700;
            }
        }
        
    }

   

    

}

/* for normal buttons*/
.normal{
    background-color: rgb(0, 191, 255);
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 10vw;
    color: white;
}

.main-content{
    height: 80vh;
    background-color: rgb(230, 239, 243);
    display: flex;
    padding-top: 1.5vh;
}

.main-left{
    width: 55vw;
}

.main-right{
    width: 20vw;
    

}

.cards{
    display: grid;
    grid-template-rows: repeat(3,25vh);
    grid-template-columns: repeat(2,21vw);
    gap: 4vw;
    margin: 1.5vw;
    row-gap: 1vh;
    justify-content: center;
}

.card{
    border-left: 5px solid rgb(165, 112, 42);
    background-color: white;
    border-radius: 7px;
    height: 20vh;
    width: 23vw;
    overflow-x: auto;
    padding-left: 10px;
    padding-top: 2vh;
    padding-right: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.card h1{
    font-weight: 700px;
}

.card p{
    font-size: 10px;
}

.card div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 10vw;
    padding-top: 2vh;
}

.card div svg{
    height: 2vh;
    width: 2vh;
}

.announcements{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    padding: 5px;
    width: 17vw;
    height: 33vh;
    margin-bottom: 5vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -5vh;
    border-radius: 10px;
    margin-top: 10px;
}

.announcements div{
    margin: 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    overflow-x: auto;
    word-wrap: none;
}
.announcements div h1{
    font-weight: 700; 
    font-size: 9px;
}

.announcements div p{
    font-size: 8px;
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-bottom: 10px;
}

.trending{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    padding: 5px;
    width: 17vw;
    height: 33vh;
    margin-bottom: 5vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: -5vh;
    border-radius: 10px;
    margin-top: 10px;
}

.trending>div{
    display: flex;
    align-items: center;
    padding-right: 10px;
   
}

.trending div div h1{
    font-weight: 500;
    font-size: 12px;
}

.trending div div h2{
    font-weight: 400;
    font-size: 10px;
}